@charset "UTF-8";

body {
  background:
  #F5F5F5;
  padding: 0;
}

.noFill {
  fill:none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {

  font-weight:bold;
  text-decoration: none;
  font-family: 'Droid Sans';
}

body,input,button, .main-nav {
   font-family: 'Droid Sans', sans-serif;
 }

.logo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  width:300px;
  height: 300px;
  z-index: -1;
}

.main-header {
  width:100%;
  height: 130px;
  padding:15px 40px 0 40px;left: 0;
  z-index:5;
  box-sizing: border-box;
  margin-top:-80px;
}

  header input {
    width: 100%;
    height: 45px;
    float:left;
    color:black;
    font-size:.95em;
    font-weight: bold;
    text-indent:18px;
    padding: 0 60px 0 10px;
    background: rgba(234, 234, 234, 0.7);
    box-shadow:0px 2px 4px rgba(60, 95, 136, 0.20);
    margin-left: auto;
    margin-right: auto;
    border:0px;
    border-radius:25px;
    border:8px;
    box-shadow:none:
    outline:none;
    z-index:5;
-webkit-appearance:none;
 -moz-appearance:none;
 -moz-a
 -o-appearance:none;
 appearance:none;
}

/*Input Placeholders */

header input::-webkit-input-placeholder {

  color:rgba(232,115,82,0.50);
}

header input:-moz-input-placeholder {
    color:rgba(232,115,82,0.50);
}

header input::-moz-input-placeholder {
    color:rgba(232,115,82,0.50);
}

header input:-ms-input-placeholder {
    color:rgba(232,115,82,0.50);
}

header button {
   width:45px;
   height:45px;
   position:absolute;
   right:35px;
   z-index:2;
   border-radius:25px;
   background:#fff;
   border:0;
   outline:none;
   cursor:pointer;

   -webkit-appearance:none;
  -moz-appearance:none;
  -moz-a
  -o-appearance:none;
  appearance:none;
 }

 /* SVG style header button */

 header button svg {
   width: 25px;
   height: 25px;
   position:absolute;
   top: 50%
   left: 50%;
   margin: -12px 0 0 -12px;

 }

header button svg .fill {
   fill: #67b0d1;
 }


  header button:hover svg .fill {
     fill: #e87352;
  }

  header button svg:active {
    width: 30px;
    height: 30px;
}

.main-nav {
  padding-top:20px;
  padding: 10px 19px;
  margin-top:34px;

}

.main-nav a {
	text-align: center;
	display: block;

	padding: 5px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;

  text-decoration: none;
}

.main-nav a:hover {
	color: #fff;
}

.copy {
  text-align: center;
}

.list {
  width:50px;
  height: 50px;
  margin-left:2px;
  margin-top:-353px;
  position:fixed;
  z-index:5;

}

.wrapper {
width:100%;
float: left;
padding:15px 30px 0 0;
box-sizing:border-box;
margin-top: 60px;

}

ul.bucketlist {
  width:100%;
  float:left;
}

ul.bucketlist li {
  width:100%;
  min-height:35px;
  float: left;
  font-size:18px;
  font-weight:bold;
  color:#444;
  line-height:35px;
  background:#fff;
  border-radius:5px;
  position:relative;
  box-shadow: 5px 6px 6px rgba(44,62,80,0.10);
  margin: 0 0 15px 0;
  word-break: break-word;
  padding: 0 145px 0 20px;
}

ul.bucketlist li:last-of-type {
  margin:0;
}

ul.bucketlist li .icons {

  height:50px;
  position:absolute;
  top:-15px;
  right:0px;

}

ul.bucketlist li .icons button {
/*
  width:50px;
  height:50px;
  */
  float:left;
  position:relative;
  background:none;
  border:0px;
  box-shadow:none;
  outline:none;
  cursor:pointer;
  margin-top:12px;
  padding:0;

-webkit-appearance:none;
 -moz-appearance:none;
-o-appearance:none;
 appearance:none;
}

#splash-image {
  background-color:#3db5d7;
  height:300px;

}

  ul.bucketlist .icons button svg {
    top:50%;
    left:50%;

    height:38px;
    width:47px;
  }

ul.bucketlist #completed {
  position: relative;
  padding: 60px 0 0 0;
}

/*list fills */

ul.bucketlist li .icons button.remove svg {
  fill: #d0d0d0;
}

ul.bucketlist li .icons button.moveUp svg {
  fill: #d0d0d0;
  padding-right: 3px;
}

ul.bucketlist li .icons button.moveDown svg {
  fill: #d0d0d0;
}

/*Pseudo Classes*/

ul li div button:active {

    height: 60px;
  }

  footer {
    padding-top:20px;
    display:inline-flex;
    margin-top:0;
  }

.jumbotron {
  background-image: url('images/wallpaper.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  padding-top:10%;
  margin:0;
}

#why {
  padding-top:180px;
}

#logo-png {
  height:135px;
}

nav div a {
  font-family: 'Droid Sans';
}

nav div a:hover {
  background: rgba(500, 234, 234, 0.2);
  color: #e8937b !important;
}

#main-text {
  font-family: 'Droid Sans';
  font-weight: bold;
  color: #68b0d1;
}

#main-text:active {
  width: 70px;
  height: 50px;

}

#navbarNavAltMarkup a {
    font-family: 'Droid Sans';
    font-weight: bold;
    color: #fff;
}

#blue {

  fill:#67b0d1;
  padding-right:5px;
}

.navbar-brand {
  padding:0 10px 0 10px;
}


ul.bucketlist li .icons button.moveUp:hover svg {
  fill: #31f9b4;
  padding-bottom:8px;
}

ul.bucketlist li .icons button.moveDown:hover svg {
  fill: #67b0d1;
  padding-top:8px;
}

ul.bucketlist li .icons button.remove:hover svg {
  fill: #c32433;
  animation: rattle 1s;
  animation-iteration-count:infinite;

}
  @keyframes rattle {
  10%, 20%, 60%, 90% {
  transform: translate(4px, 4px) rotate(0deg)
  }

  10%, 40%, 70%, 100% {
  transform: translate(-4px, -4px) rotate(-10deg)
  }

  20%, 50%, 80% {
  transform: translate(-8px, 2px) rotate(-12deg)
  }
}

#submitButton {
  width:10rem;
}

#headline {
  color:#278ab7;
}

/*===================================
Media Queries
/* =================================
  Media Queries
==================================== */

@media (min-width: 991px)
{
  div #about {
    padding-top:60px;
  }
}

@media (min-width: 991px)
{
  .navbar-nav {
    padding:
  }
}

@media (min-width: 991px)
{
  header.main-header {

    padding: 15px 140px 0 140px;
  }
  }
  @media (min-width: 991px)
  {
    #add {
    right:132px;
    }
  }
  @media (min-width: 991px)
  {
    div.wrapper {
    padding: 15px 60px 0 40px;
    }
  }
  @media (max-width: 991px)
  {
    div p.lead {
      margin-top: 80px !important;
      margin-bottom: 40px !important;
    }
  }
  @media (max-width: 991px)
  {
    #submitButton {
      width:20rem !important;
    }
  }
  @media (max-width: 991px)
  {
    #colContent {
      margin-bottom:3rem !important;
    }
  }
