@charset "UTF-8";

body {
  background:
  #F5F5F5;
  padding: 0;

}

.noFill {
  fill:none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {

  font-weight:bold;
  text-decoration: none;
  font-family: 'Droid Sans';
}


/*=============================
Font Embed
=============================*/




 body,input,button, .main-nav {
   font-family: 'Droid Sans', sans-serif;
 }

.logo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  width:300px;
  height: 300px;


}

.main-header {
  width:100%;
  height: 130px;
  position:fixed;
  position:fixed;
  padding:15px 40px 0 40px;

  top: 50px;
  left: 0;
  z-index:5;







  box-sizing: border-box;
  margin-top:-35px;

}

  header input {

    width: 100%;
    height: 45px;
    float:left;
    color:black;
    font-size:.95em;
    font-weight: bold;
    text-indent:18px;
    padding: 0 60px 0 10px;
    background: rgba(234, 234, 234, 0.7);
    box-shadow:0px 2px 4px rgba(60, 95, 136, 0.20);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border:0px;
    border-radius:25px;
    border:8px;
    box-shadow:none:
    outline:none;


  -webkit-appearance:none;
 -moz-appearance:none;
 -moz-a
 -o-appearance:none;
 appearance:none;
}

/*Input Placeholders */

header input::-webkit-input-placeholder {

  color:rgba(232,115,82,0.50);
}

header input:-moz-input-placeholder {
    color:rgba(232,115,82,0.50);
}

header input::-moz-input-placeholder {
    color:rgba(232,115,82,0.50);
}

header input:-ms-input-placeholder {
    color:rgba(232,115,82,0.50);
}




 header button {
   width:45px;
   height:45px;
   position:absolute;
   top:67px;
   right:35px;
   z-index:2;
   border-radius:25px;
   background:#fff;
   border:0;
   outline:none;
   cursor:pointer;

   -webkit-appearance:none;
  -moz-appearance:none;
  -moz-a
  -o-appearance:none;
  appearance:none;
 }

 /* SVG style header button */

 header button svg {
   width: 25px;
   height: 25px;
   position:absolute;
   top: 50%
   left: 50%;
   margin: -12px 0 0 -12px;

 }



 header button svg .fill {
   fill: #67b0d1;
 }


  header button:hover svg .fill {
     fill: #e87352;
  }

  header button svg:active {
    width: 30px;
    height: 30px;
}

.main-nav {
  padding-top:20px;
  padding: 10px 19px;
  margin-top:34px;

}


.main-nav a {
	text-align: center;
	display: block;

	padding: 5px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;

  text-decoration: none;
}

.main-nav a:hover {
	color: #fff;
}

.copy {
  text-align: center;
}

.list {
  width:50px;
  height: 50px;
  margin-left:2px;
  margin-top:-353px;
  position:fixed;
  z-index:5;

}


.wrapper {
width:100%;
float: left;
padding:15px 30px 0 0;
box-sizing:border-box;

}


ul.bucketlist {
  width:100%;
  float:left;
}

ul.bucketlist li {
  width:100%;
  min-height:35px;
  float: left;
  font-size:18px;
  font-weight:bold;
  color:#444;
  line-height:35px;
  background:#fff;
  border-radius:5px;
  position:relative;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin: 0 0 10px 0;
  word-break: break-word;
  padding: 0 90px 0 23px;
}

ul.bucketlist li:last-of-type {
  margin:0;
}

ul.bucketlist li .icons {

  height:50px;
  position:absolute;
  top:-15px;
  right:-9px;

}

ul.bucketlist li .icons button {
/*
  width:50px;
  height:50px;
  */
  float:left;
  position:relative;


  background:none;

  border:0px;
  box-shadow:none;
  outline:none;
  cursor:pointer;
  margin-top:12px;
  padding:0;

  -webkit-appearance:none;
 -moz-appearance:none;
 -moz-a
 -o-appearance:none;
 appearance:none;
}

#splash-image {
  background-color:#3db5d7;
  height:300px;


}



/*
ul.bucketlist .icons button:last-of-type:before {
  content:'';
  width:1px;
  height:30px;
  position:absolute;
  top:10px;
  left:0;
  background:#edf0f1;
  }
  */

  ul.bucketlist .icons button svg {
/*
    width:40px;

    position:absolute;
    */
    top:50%;
    left:50%;
    margin:1px;
    height:42px;
    width:42px;
  }



ul.bucketlist #completed {
  position: relative;
  padding: 60px 0 0 0;
}


/*list fills */

ul.bucketlist li .icons button.remove svg {
  fill: #e8937b;
}

ul.bucketlist li .icons button.complete svg {
  fill: #67b0d1;
}


/*Pseudo Classes*/

ul.bucketlist li .icons button.remove:hover svg .fill {
  fill: #940c0c;
}


ul li div button:active {

    height: 60px;
  }

  footer {
    padding-top:20px;
    display:inline-flex;
  }
/*
#banner{
  height:200px;
  background-color:#e8937b;
}

#responsive{
  padding-right: 20px;
  padding-left: 20px;
}
*/
.jumbotron {
  background-image: url('images/wallpaper.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  padding-top:10%;
  margin:0;
}

#why {
  padding-top:180px;
}

#logo-png {

  height:135px;
}

nav div a {
  font-family: 'Droid Sans';
}

div.nav-bar a.nav-item nav-link {
  font-family: 'Droid Sans';
}






/* =================================
  Media Queries
==================================== */

@media (min-width: 991px)
{
  div #about {
    padding-top:60px;
  }
}
